<!DOCTYPE>
<head>
<title>Chat</title>
<link type="text/css" rel="stylesheet" href="/static/css/chat_css.css" />
</head>
 
<div id="wrapper">
    <div id="menu">
        <div style="clear:both"></div>
    </div>
     
    <div id="chatbox">
      <p>Jānis</p>
      <h2>Čaw!</h2>
      <p>Pēteris</p>
      <h1>Yo!</h1>
      <p>Jānis</p>
      <h2>Vari man palīdzēt?</h2>
    </div>
     
    <form name="message" action="">
        <input name="usermsg" type="text" id="usermsg" size="63" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
    </form>
</div>

</body>
</html>